* {
	box-sizing: border-box;
}

body {
	background-color: rgba(244,244,244,1);
	margin: 0 auto;
	margin-top: 56px;
	margin-left: 0px;
	margin-right: 0px;
	color: rgba(58,58,58,1);
	font-family: "Lato", "Optima", "Arial", sans-serif;
	font-size: 17px;
	text-shadow: rgba(255,255,255,0.5) 0px 5px 5px;
}

h1, h2 {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 0;
}

h3, h4 {
	margin-top: 10px;
	margin-bottom: 0;
}

p {
	margin-top: 10px;
	margin-bottom: 10px;
}

hr {
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
}

#home {
	height: 100vh;
	text-align: center;
	background-image: url(../images/RomanRuins5.jpg);
	background-size: cover;
	display: table;
	width: 100%;
	margin: 0;
	color: rgba(244,244,244,1);
	text-shadow: 1px 1px 0px rgba(58,58,58,1);
}

.header {
	width: 100%;
	display: table-cell;
	vertical-align: middle;
	top: 0;
	left: 50%;
	text-align: center;
	padding-bottom: 88px;
}

#title-main {
	width: 100%;
	font-size: 7em;
	margin: 0;
	display: none;
}

#title-sub {
	width: 100%;
	margin: 0;
	font-size: 2em;
	display: none;
}

nav {
	position: fixed;
	background-color: rgba(255,255,255,1);
	/*background-color: #4d5d53;*/
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;
	opacity: 0.9;
	text-shadow: none;
	box-shadow: 0px 5px 5px 0px #777777;
	z-index: 1;
}

nav ul {
	padding: 0;
}

nav li {
	font-size: 20px;
	font-weight: 700;
	vertical-align: top;
}

nav > ul > li > a {
	text-decoration: none;
	color: rgba(58,58,58,1);
}

nav > ul > li > a:hover {
	text-decoration: none;
	color: white;
	transition: 1s all;
	color: rgba(236,150,100,1);
}

nav a:link {
	text-decoration: none;
}

nav a:active {
	text-decoration: none;
	color: red;
}

a {
	color: red;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: red;
	text-decoration: none;
}

.current {
	color: red;
	text-decoration: underline;
}

/* top level menu */
nav > ul > li {
	display: inline-block;
	padding: 0 30px;
}

#menu-button {
	display: none;
	position: fixed;
	background-color: #4d5d53;
	top: 0;
	left: 0;
	z-index: 2;
}

/*section {
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}*/

#about {
	width: 100%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 90px;
	padding-right: 90px;
	box-shadow: 0px 5px 5px 0px #777777;
}

#about h1 {
	text-align: center;
	font-size: 2em;
}

.icons-container {
	width: 168px;
	margin: 0 auto;
}

#icon-list {
	padding: 0;
	width: 500px;
}

#icon-list li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: black;
	color: rgba(244,244,244,1);
	text-align: center;
	border-radius: 3px;
	padding: 5px;
	font-family: "Lato", "Optima", "Arial", sans-serif;
	font-size: .4em;
	position: absolute;
	z-index: 2;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext {
	top: 100%;
	left: 50%;
	margin-left: -100px;
}

#projects {
	width: 85%;
	height: 500px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 50px;
}

#projects h1 {
	text-align: center;
	font-size: 2em;
}

.project1 {
	padding-top: 50px;
	width: 80%;
	height: 200px;
	margin: 0 auto;
}

.img1 {
	width: 200px;
	float: left;
	border-radius: 50%;
	box-shadow: 0px 5px 15px 0px rgba(58,58,58,1)
}

.cc-proj {
	width: 600px;
	height: 112px;
	float: left;
	clear: right;
	padding-top: 20px;
	padding-left: 10px;
}

.project2 {
	padding-top: 10px;
	width: 80%;
	height: 200px;
	margin: 0 auto;
}

.img2 {
	width: 180px;
	float: right;
}

.calc-proj {
	width: 600px;
	height: 112px;
	float: right;
	clear: left;
	padding-top: 39px;
	padding-bottom: 39px;
	padding-left: 10px;
}

#resume {
	width: 90%;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 30px;
	border-bottom: 20px; 
}

.rez-container {
	border-style: inset;
	border-width: 2px;
	border-radius: 7px;
	box-shadow: 0px 0px 22px 0px rgba(58,58,58,1) inset;
	background-color: white;
	padding-top: 30px;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
}

.rez-container h1 {
	text-align: center;
	font-size: 2em;
}

.rez-container h5 {
	text-align: center;
	padding: 0;
	margin-top: 0;
}

.rez-container ul {
	list-style: square;
}

.button-container {
	width: 100%;
	padding: 10px;
	padding-bottom: 30px;
	box-shadow: 0px 5px 5px 0px #777777;
}

#rez-download {
	width: 200px;
	margin: 0 auto;
	padding: 10px;
}

button {
	background-color: transparent;
	color: red;
	border: 1px solid red;
	width: 225px;
	height: 30px;
	transition-duration: 0.2s;
	font-weight: bold;
	font-size: 1em;
	font-family: inherit;
}

button:hover {
	background-color: red;
    color: white;
}

#contact {
	padding-top: 5px;
	padding-bottom: 10px;
	background-color: rgba(255,255,255,0);
}

#contact h1 {
	text-align: center;
	font-size: 2em;
}

ul.contact {
	text-align: center;
	padding: 0;
}

.contact li {
	display: inline-block;
	padding: 10px;
}

.socialIcon {
	width: 50px;
	padding: 10px;
}

.socialIcon:hover {
	transform: scale(1.1);
}

.copyright {
	font-size: .8em;
	text-align: center;
}


/* 3d PIE CHART */
/*@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
#chartdiv {
	width		: 100%;
	height		: 435px;
	font-size	: 11px;
}*/


@media all and (max-width: 1176px) {
	body {
		margin: 0px;
	}

	#home {
		padding-top: 0;
		margin-top: -24px;
	}

	#projects {
		width: 100%;
		height: 700px;
		padding-left: 50px;
	}

	.img1, .img2, .cc-prog, .calc-prog {
		float: none;
	}

	.project1, .project2 {
		width: 100%;
		height: 340px;
		margin: 0 auto;
	}

	.cc-proj, .calc-proj {
		width: 100%;
		padding: 8px;
	}

}

@media (max-width: 768px) {
	/* 768px and down */
	body {
		margin: 0px;
	}

	nav ul {
		display: none;
	}

	nav > ul > li {
		display: block;
	}
	
	#menu-button {
		display: block;
		height: 30px;
		width: 30px;
		font-size: .9em;
		background-color: white;
		color: rgba(58,58,58,1);
		box-shadow: 0px 5px 5px 0px #777777;
	}
	
	/* submenu */
	nav ul ul {
		position: static;
	}

	nav ul ul li {
		font-size: .8em;
		text-decoration: none;
		display: none;
	}

	#home {
		background-image: url(../images/ruins_mobile.jpg);
		padding-top: 0;
		margin-top: -24px;
	}

	#title-main {
		word-wrap: break-word;
		font-size: 4em;
		margin-bottom: 0;
	}

	#title-sub {
		margin-top: 0;
		font-size: 26px;
		line-height: 0;
	}
	
	section {
		margin-top: -50px;
		padding-top: 50px;
		padding-left: 5px;
		padding-right: 5px;
	}

	#about {
		width: 100%;
		padding: 15px;
	}

	#projects {
		height: 700px;
	}

	.img1, .img2, .cc-prog, .calc-prog {
		float: none;
	}

	.project1, .project2 {
		width: 100%;
		height: 340px;
		margin: 0 auto;
	}

	.cc-proj, .calc-proj {
		width: 100%;
		padding: 8px;
	}

	#resume {
		display: none;
	}

	#contact {
		/*height: 100px;*/
		margin-top: 0;
		padding-top: 0;
		/*border: 1px solid;*/
	}
}

/* sub menus */
/*nav ul ul {
	display: none;
	position: fixed;
	background-color: #4d5d53;
	padding: 0 10px 7px 10px;
}

nav ul li:hover ul {
	display: block;
}

nav ul ul li {
	display: none;
	list-style-type: none;
	font-size: .8em;
}*/

/* end submens */